<%- include("partials/header") -%>
  <!-- PAGE TITLE SECTION -->

  <div class="body-sec">
    <div class="">
      <img class="burger-body" src="img/Burger.jpg" alt="">
    </div>

    <div class="container4 titlepage">
      <p>Location</p>
    </div>
  </div>


  <section class="menu2">

    <div class="row location-card">


      <div class="col-lg-4 col-md-6 price-cards">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">B A N A N I</h5>
            <p class="card-text">Plot 61,Road 10,House 44/A,Lift 3,Banani,Dhaka-1230</p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRrD7V00bx1R0al3SJlGuoXXCPBqdAMT20H5XPcHpiD_i9YxF87&usqp=CAU" class="card-img-top" alt="...">
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 price-cards">

        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">D H A N M O N D I</h5>
            <p class="card-text">Plot 61,Road 10,House 44/A,Lift 3,Banani,Dhaka-1230</p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRrD7V00bx1R0al3SJlGuoXXCPBqdAMT20H5XPcHpiD_i9YxF87&usqp=CAU" class="card-img-top" alt="...">
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-md-6 price-cards">

        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">U T T A R A</h5>
            <p class="card-text">Plot 61,Road 10,House 44/A,Lift 3,Banani,Dhaka-1230</p>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRrD7V00bx1R0al3SJlGuoXXCPBqdAMT20H5XPcHpiD_i9YxF87&usqp=CAU" class="card-img-top" alt="...">
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include("partials/footer") -%>
